# Course : Python for Data Science
## Lesson : Functions in Python

### Example 1 : Simple Function to reverse a list

### Function Definition

In [2]:
print("HEllo world")
a = 100
print(a)

HEllo world
100

In [5]:
# Now change name of the parameter passed.
# However inside the function we still use lst
# lst here refers to the variable with global scope

def reverse(lstarg):
    n = len(lst)
    
    rlst = [0]*n
    for i in range(n):
        rlst[n-i-1] = lst[i]
    # print("Reverse List")
    # print(rlst)
    lstarg = rlst # Removed originally
    return rlst;

### Function Call

In [6]:
lst = ['a', 'b', 'c', 'd']
print(lst)
rlst = reverse(lst)
print("Reverse list returned value ")
print(rlst)

['a', 'b', 'c', 'd']
Reverse list returned value
['d', 'c', 'b', 'a']

### Example 2 : Call by Reference

In [8]:
# Example call by reference 
def fn_cr_change(alst):
    alst[1] = 'Z'
    return alst;

lst = ['a', 'b', 'c']
print(lst)
print(fn_cr_change(lst))         
print(lst)

['a', 'b', 'c']
['a', 'Z', 'c']
['a', 'Z', 'c']

### Example 3 : Call by Value

In [10]:
def fn_cv_change(astr):
    astr = "xyz"
    return astr;

vstr = 'abc'
print("Returned Value: ", fn_cv_change(vstr))         
print("Original Value: ", vstr)

Returned Value:  xyz
Original Value:  abc

### Example 4 : Positional

In [11]:
def fn_calculateInterest_1(principal, period, rate):
    # Calculates interest. Rate given for each period
    SInt = principal * period * rate
    return SInt;

In [13]:
print("Returned Value: ", fn_calculateInterest_1(100,2,0.10))

Returned Value:  20.0

In [15]:
print("Returned Value: ", fn_calculateInterest_1(period = 2, principal = 100, rate = 0.35))  #Keyword arguments

Returned Value:  70.0

#### Argument with default value

In [17]:
def fn_calculateInterest_2(principal, period=12, rate = 0.1):
    # Calculates interest. Rate given for each period
    SInt = principal * period * rate
    return SInt;

#### Return Values

In [19]:
# As part of print statements
print("Returned Value: ", fn_calculateInterest_2(100, 2))

Returned Value:  20.0

In [85]:
# Stored as variable
interest = fn_calculateInterest_2(100,2)
print("Returned Value: %f" % (interest))

Returned Value: 20.000000

In [20]:
# Use in expression
if fn_calculateInterest_2(100,3) > 25:
    print("Awesome returns !")

Awesome returns !

#### Functional Programming : Passing Functions as arguments

In [21]:
def fn_sum(x, y):
    return x + y;

In [22]:
def fn_diff(x, y):
    return abs(x - y);

In [23]:
def fn_multiply(x, y):
    return x * y;

In [24]:
def fn_operations(x, y, ops):
    print ("Operation applied and value is ", ops(x,y))
    return;

In [29]:
fn_operations(x = 10, y = 30, ops = fn_sum)

Operation applied and value is  40

In [27]:
fn_operations(10,20, fn_diff)

Operation applied and value is  10

In [28]:
fn_operations(10,20, fn_multiply)

Operation applied and value is  200

### Indentation

In [30]:
def fnprint():
    print("This is test")
    print("Within function")
    
print("Welcome outside of function!")
fnprint()

Welcome outside of function!
This is test
Within function

### Structure of a Python code

In [32]:
def fnprint():
    print("This is test")
    print("Within function")

# __main__
print(__name__)    
print("Welcome outside of function!")
fnprint()

__main__
Welcome outside of function!
__main__
This is test
Within function

### Importing Libraries

In [38]:
import math
print("Pow is ", math.pow(10,10))

Pow is  10000000000.0

In [94]:
# Use of namespace 
from math import pi as P
print("Pi is ", P)

Pi is  3.141592653589793

In [96]:
# Multiple objects and refering methods or functions
from math import pi, sqrt, pow
print("Pi is ", pi)
print("Sqrt ", sqrt(3))

Pi is  3.141592653589793
Sqrt  1.7320508075688772

In [42]:
import random as rd

print("Some number ")
print(rd.random())
print(rd.random())
print(rd.randrange(10, 1000, 5))
print(rd.randrange(10, 1000, 5))

Some number
0.3388166947331859
0.5981324186740496
120
265

### List comprehension

In [45]:
lst = [1,2,3,4,5]
nlst = [i ** 2  for i in lst   ]      
print(nlst)

[1, 4, 9, 16, 25]

In [47]:
stopwords = ['is','as','the', 'test']
para = "This is a short python sentence for test the functionality of list comprehension as it may be easier and elegant"
newpara = [s  for s in para.split() if s not in stopwords]      
print(newpara)

['This', 'a', 'short', 'python', 'sentence', 'for', 'functionality', 'of', 'list', 'comprehension', 'it', 'may', 'be', 'easier', 'and', 'elegant']

### PANDAS SERIES

In [7]:
from pandas import Series

In [9]:
s1 = Series(range(1,10,2))
print(s1)   #Index and Value

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [11]:
s2 = Series(range(0,10,2))
print(s2)

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [12]:
#Vectorized operation
s3 = s1+s2
print(s3)

0     1
1     5
2     9
3    13
4    17
dtype: int64

### Indexes : Access labels for series. Can contain hashable objects

In [14]:
idx = s1.index

In [15]:
idx.is_monotonic_increasing

True

In [16]:
idx.is_monotonic_decreasing

False

In [18]:
idx.has_duplicates

False

In [20]:
np_idx = idx.values
print(np_idx)

[0 1 2 3 4]

In [22]:
lst = idx.tolist
print(lst)

<bound method RangeIndex.tolist of RangeIndex(start=0, stop=5, step=1)>

#### Accessing elements using indexes

In [30]:
s1 = Series(range(0,10))
print(s1)   #Index and Value

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [24]:
s1[0:4]

0    1
1    2
2    3
3    4
dtype: int64

In [31]:
# Example you assign roll numbers to students
s1.index = range(1000, 1010)

In [34]:
print(s1.index)

RangeIndex(start=1000, stop=1010, step=1)

In [36]:
#Access using roll number
s1[1005]

5

### .loc to access elements (including slicing) using index

In [37]:
s1.loc[1004:1006]

1004    4
1005    5
1006    6
dtype: int64

In [38]:
### .iloc to access elements (including slicing) using position

In [40]:
s1.iloc[4:7]

1004    4
1005    5
1006    6
dtype: int64

### Lot of operations possible of series

In [49]:
s1 = Series(range(1,10,2))
print(s1)   #Index and Value
s2 = Series(range(0,10,2))
print(s2)

0    1
1    3
2    5
3    7
4    9
dtype: int64
0    0
1    2
2    4
3    6
4    8
dtype: int64

In [50]:
res = s1.combine_first(s2)
print(res)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [55]:
s1.head()

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [56]:
s1.eq(s2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [60]:
#Filter or clip values between min and max values
s1new = s1.clip(3,7)
print(s1new.unique())

[3 5 7]

In [62]:
s_map = s1.map(s2)
print(s_map)

0    2.0
1    6.0
2    NaN
3    NaN
4    NaN
dtype: float64