In [1]:
import pandas as pd

In [4]:
df_students = pd.read_csv("data/001Python_DataFrame_Original_StudentsPerformance.csv")

In [5]:
df_students.shape

(1000, 8)

### Q1.	How many total records or items in the file
### Answer

In [7]:
print (" Number of Rows : ", df_students.shape[0])   # Rows

 Number of Rows :  1000

In [8]:
print (" Number of Columns : ", df_students.shape[1])   # Columns

 Number of Columns :  8

### Q2	Rename Columns : 
-	race/ethnicity         to Ethnicity
-	parental level of education to Education

### A2 Method 1 :  dataframe.Columns to give list of new columns

In [10]:
df_students.columns = ['gender', 'ethnicity', 'education', 'lunch',
       'course', 'math_score', 'reading_score',
       'writing_score']

In [11]:
df_students.columns

Index(['gender', 'ethnicity', 'education', 'lunch', 'course', 'math_score',
       'reading_score', 'writing_score'],
      dtype='object')

### A2 Method 2 :  Use rename command and pass a dictionary

In [17]:
df_students = pd.read_csv("data/001Python_DataFrame_Original_StudentsPerformance.csv")

In [ ]:
df_students.rename(columns={ 
        'race/ethnicity':'ethnicity', 
        'parental level of education':'education',
        'test preparation course': 'course',
        'math score':'math_score',
        'reading score':'reading_score',
        'writing score':'writing score'
}, inplace=True)

In [21]:
df_students.rename({ 
        'race/ethnicity':'ethnicity', 
        'parental level of education':'education',
        'test preparation course': 'course',
        'math score':'math_score',
        'reading score':'reading_score',
        'writing score':'writing score'
})

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [20]:
df_students.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [23]:
df_students['gender'].count()

1000